@import "variables";

.article {
  font-size: rem-calc(16);
  max-width: rem-calc(720);
  margin: auto;

  >img {
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(10);
  }

  .img-description {
    font-size: rem-calc(13);
    color: #9b9b9b;
  }
}

.article-title {
  font-size: rem-calc(36);
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.next-article-links {
  display: flex;
  justify-content: space-between;
  font-size: rem-calc(18);
  font-weight: bold;
  margin: rem-calc(60) 0;

  a {
    color: inherit;
  }

  .fa {
    font-weight: normal;
  }

  .fa-long-arrow-left {
    padding-right: rem-calc(10);
  }

  .fa-long-arrow-right {
    padding-left: rem-calc(10);
  }
}