@import "variables";

.common-feedback {
  padding: {
    top: rem-calc(45);
    bottom: rem-calc(45);
  }

  .common-feedback__text {
    font-size: rem-calc(24);
    text-align: center;
    max-width: rem-calc(680);
    margin: auto auto $margin-xxl auto;
  }

  .common-feedback__form {
    text-align: center;

    input, button {
      vertical-align: top;
      margin: 0 $margin-sm $margin-md;
    }
  }
}

.feedback-information {
  text-align: center;

  .feedback-title {
    font-size: rem-calc(32);
    margin-bottom: rem-calc(35);
  }

  .feedback-text {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(20);
  }

  .feedback-phone {
    margin-top: rem-calc(15);
    font-size: rem-calc(32);
    color: $active-package-section;
  }

  .phone-subtext {
    font-size: rem-calc(14);
  }

  .phones {
    margin-bottom: rem-calc(50);
  }
}