@import "variables";

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: $white;

  .container {
    position: relative;
  }
}

.header-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(256, 256, 256, 0.9);
  z-index: 3;
  display: none;

  &.show {
    display: block;
  }
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-xlg 0;
}

.header-flex-item {
  margin: 0 $margin-sm;
  flex-grow: 1;

  &:last-child {
    margin-left: rem-calc(56);
  }
}

.header__logo {
  flex-grow: 1000;
}

.header__link {
  a {
    color: inherit;
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-weight: bold;
    padding-bottom: rem-calc(8);

    &:hover {
      text-decoration: none;
      border-bottom: solid 2px $success;
    }

    &:active {
      text-decoration: none;
      border-bottom: solid 2px $success;
    }

    &:visited {
      text-decoration: none;
      border-bottom: solid 2px $success;
    }
  }
}

.header__phone {
  color: $success;
  line-height: rem-calc(18);
  font-weight: bold;
}

.header__chose-location {
  font-size: rem-calc(13);
  color: $gray;
  font-weight: bold;
  cursor: pointer;

  .fa {
    font-weight: normal;
    font-size: rem-calc(20);
    line-height: rem-calc(20);
    margin-left: $margin-sm ;
    vertical-align: bottom;
  }
}

.header-language-menu {
  position: absolute;
  top: rem-calc(25);
  right: rem-calc(75);
  z-index: 5;
}

.language-list {
  position: absolute;
  top: -18px;
  right: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: white;
  @include border-radius(36px);
  height: rem-calc(36);
  padding: 0 rem-calc(20);
  transition: width 1s ease;
  width: 0;

  &.open {
    width: rem-calc(420);
    border: solid 1px $success;

    li {
      visibility: visible;
      opacity: 1;
    }
  }

  li {
    padding: 0 rem-calc(25);
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem-calc(14);
    cursor: pointer;
    visibility: hidden;
    transition: opacity 2s ease;
    opacity: 0;

    &:hover {
      text-decoration: underline;

      &.current {
        text-decoration: none;
      }
    }

    &.current {
      color: $success
    }
  }
}

.language-btn {
  position: relative;
  border: rem-calc(1) solid $gray;
  height: rem-calc(36);
  width: rem-calc(36);
  color: $gray;
  background-color: $white;
  text-transform: uppercase;
  z-index: 10;
  font-size: rem-calc(14);
  font-weight: bold;

  &.circle {
    @include border-radius(50%)
  }

  &:hover {
    color: $success;
    border-color: $success;
  }

  &:active {
    background-color: $active-button-bg;
  }
}

.dropdown {
  position: relative;

  a[data-toggle="dropdown"] {
    color: #c1c1c1;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: rem-calc(5);
  left: 0;
  padding: rem-calc(10) 0;
  background-color: $white;
  list-style-type: none;
  width: rem-calc(140);

  li {
    padding: rem-calc(5) rem-calc(12);

    &:hover {
      background-color: #f5f5f5;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  &.show {
    display: block;
  }
}

.header-phone-btn {
  position: absolute;
  top: rem-calc(28);
  right: rem-calc(75);
  z-index: 5;
  width: rem-calc(32);
  height: rem-calc(32);
  border: rem-calc(1) solid $gray;
  @include border-radius(50%);
  color: $gray;
  background-color: $white;
  text-transform: uppercase;
  font-size: rem-calc(14);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: rem-calc(32);
  cursor: pointer;

  &:hover {
    color: $success;
    border-color: $success;
  }

  &:active {
    background-color: $active-button-bg;
  }
}