@import 'variables';

.choose-age {
  display: flex;
  justify-content: space-around;
  padding: rem-calc(50) rem-calc(20);
}

.choose-age-text {
  max-width: 300px;
  font-size: rem-calc(22);
  margin: $margin-lg $margin-md $margin-md 0;
}

.choose-age-price {
  font-size: rem-calc(32);
  margin-bottom: $margin-lg;
}

.choose-age-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem-calc(124);
  height: rem-calc(124);
  margin: $margin-xs;
  border-radius: 50%;
  border: dotted 1px $gray;

  .choose-age-second-border {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: rem-calc(114);
    height: rem-calc(114);
    border: solid 5px $gray;
    border-radius: 50%;
  }
}

.choose-age-icon-text {
  max-width: rem-calc(124);
  margin: auto;

  .icon-main-text {
    font-family: 'Oswald', sans-serif;
    font-size: rem-calc(14);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $margin-xs;
  }

  .icon-age {
    text-align: center;
  }
}

.choose-age-item {
  cursor: pointer;

  &:hover, &.active {
    .choose-age-icon {
      border: solid 1px $success;

      .choose-age-second-border {
        border-color: $success;
      }
    }

    .choose-age-icon-text {
      color: $success;
    }
  }
}

.age-packages {
  background-color: $white;

  .row {
    margin: 0;
  }
}

.package-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: $margin-lg 0;

  .package-section__icon {
    margin-right: $margin-lg;
  }

  .package-section__title {
    font-size: rem-calc(24);
  }

  &:hover {
    .package-section__title {
      color: $active-package-section;
    }

    svg circle {
      fill: $active-package-section
    }
  }
}

.package-section-list-wrapper {
  display: flex;
  justify-content: flex-end;
}

.package-section-list {
  margin: rem-calc(50) 10% rem-calc(50) $margin-sm
}

.package-section-description {
  display: flex;
  justify-content: center;
  height: rem-calc(430);
  background: url("../images/Home/photos/diagnostika.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  padding: $padding-lg rem-calc(45);

  .package-section-description__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    max-width: rem-calc(600);
  }

  .section-description-title {
    color: $light-green;
    font-size: rem-calc(30);
    margin-bottom: $margin-md;
  }

  .section-description-subtitle {
    color: $white;
    font-size: rem-calc(22);
    margin-bottom: $margin-md;
  }

  .section-description-text {
    color: $white;
    font-size: rem-calc(18);
  }
}

.package-section-description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 6, 6, 0.6);
}

.package-section-triangle {
  position: absolute;
  left: 0;
  top: rem-calc(190);
  border: rem-calc(28) solid transparent;
  border-left: rem-calc(28) solid white;
}

.how-to-work {
  background-color: $bg-color;
  padding: $padding-xxl $padding-lg;
}

.how-to-work-title {
  font-size: rem-calc(32);
  text-transform: uppercase;
  text-align: right;
  padding-top: $padding-md;
  padding-right: rem-calc(50);
}

.how-to-work-step-icons {

  .step-item {
    display: inline-block;

    .step-item-icon {
      display: flex;
      width: rem-calc(66);
      height: rem-calc(66);
      margin-left: rem-calc(3);
      @include border-radius(50%);
      border: solid 4px $gray;
      background-color: $white;
      margin-bottom: $margin-sm;

      &.active {
        border-color: $success;
      }

      img {
        margin: auto;
      }
    }

    .step-item-text {
      font-size: rem-calc(14);
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
    }
  }

  .step-item-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #d8d8d8;
    @include border-radius(50%);
    position: relative;
    top: -55px;
  }

}

.steps-slider {
  background-color: $white;

  .step-slider-bg-image {
    height: rem-calc(480);
    width: 100%;
    background: url("../images/Home/photos/step_1.jpg") no-repeat center;
    background-size: cover;
    position: relative;
  }
}

.step-slider-bg-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 6, 6, 0.6);
}

.button-online-entry {
  .button-online-entry-container {
    text-align: center;
    padding: rem-calc(60) 0;
  }
}

.green-bg-block {
  background-color: $success;

  .green-bg-text-container {
    color: $white;
    font-size: rem-calc(24);
    font-weight: bold;
    text-align: center;
    max-width: rem-calc(700);
    margin: rem-calc(60) auto;
  }
}

.main-page__partners {
  background-color: $white;
  padding: rem-calc(80);

  .partners-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partners-title {
    font-size: rem-calc(32);
    text-transform: uppercase;
    margin-bottom: rem-calc(40);
  }

  .partner-numbers {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: rem-calc(1200);
    margin-bottom: rem-calc(70);

    .number-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: rem-calc(300);

      .number {
        font-size: rem-calc(64);
        color: $success;
      }
    }

    .number-line {
      border-bottom: solid 1px black;
      width: 10%;
      position: relative;
      top: rem-calc(45);
    }
  }

  .partner-numbers-text {
    text-transform: uppercase;
    font-size: rem-calc(16);
    text-align: center;
  }


  .partners-logo {
    display: flex;

    .logo-item {
      height: rem-calc(80);
      margin: $margin-sm $margin-xxl;

      img {
        height: 100%;
      }
    }
  }
}



