@import 'variables';

.choose-age {
  display: flex;
  justify-content: space-around;
  padding: rem-calc(50) rem-calc(20);
}

.choose-age-text {
  max-width: 300px;
  font-size: rem-calc(22);
  margin: $margin-sm $margin-md $margin-md 0;
}

.choose-age-price {
  font-size: rem-calc(32);
  margin-bottom: $margin-lg;
}

.choose-age-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem-calc(124);
  height: rem-calc(124);
  margin: $margin-xs;
  margin-bottom: rem-calc(13);
  border-radius: 50%;
  border: dotted 1px rgba(0, 0, 0, 0.1);

  .choose-age-second-border {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: rem-calc(114);
    height: rem-calc(114);
    border: solid 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}

.choose-age-icon-text {
  max-width: rem-calc(124);
  margin: auto;

  .main-text {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: rem-calc(16);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $margin-xs;
  }

  .age {
    text-align: center;
    font-size: rem-calc(14);
  }
}

.choose-age-item {
  cursor: pointer;

  &:hover, &.active {
    .choose-age-icon {
      transition: all 0.3s linear;
      border: solid 1px rgba(0, 0, 0, 0.2);

      .choose-age-second-border {
        transition: all 0.3s linear;
        border-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.active {
    .choose-age-icon {
      transition: all 0.3s linear;
      border: solid 1px $success;

      .choose-age-second-border {
        transition: all 0.3s linear;
        border-color: $success;
      }
    }

    .choose-age-icon-text {
      transition: all 0.1s linear;
      color: $success;
    }
  }
}

.age-packages {
  background-color: $white;

  .row {
    margin: 0;
  }
}

.package-section {
  display: none;
  align-items: center;
  cursor: pointer;
  margin-bottom: rem-calc(17.5);
  order: 0;

  &.static {
    margin-top: rem-calc(19);
    padding-top: rem-calc(32.5);
    border-top: dashed 1px #808080;
    position: relative;

    .package-section__title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      align-items: flex-end;
    }
  }

  .package-section__additional-text {
    color: #808080;
    position: absolute;
    top: -9px;
    left: 48px;
    background-color: $white;
    font-size: rem-calc(12);
    text-transform: uppercase;
    padding: 0 rem-calc(24);
  }

  .package-section__additional-price {
    color: #808080;
    font-size: rem-calc(14);
    padding-bottom: rem-calc(3);
  }

  &.show-section {
    display: flex;
  }

  .package-section__icon {
    margin-right: $margin-lg;
  }

  .package-section__title {
    display: inline-block;
    font-size: rem-calc(24);
  }

  &.current {
    .package-section__title {
      transition: all 0.2s linear;
      color: $active-package-section;
    }

    .circle-wrapper {
      transition: all 0.2s linear;
      background-color: $active-package-section
    }
  }
}

.package-section-list-wrapper {
  display: flex;
  justify-content: flex-end;
}

.package-section-list {
  display: flex;
  flex-direction: column;
  margin: rem-calc(30) 7% rem-calc(20) $margin-sm;
  width: rem-calc(430);
}

.package-section-description {
  display: flex;
  justify-content: flex-start;
  height: rem-calc(430);
  background: url("../images/Home/bullets_bg/1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  padding: $padding-lg rem-calc(66);

  .package-section-description__text-container {
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    max-width: rem-calc(450);
    display: none;

    &.current {
      display: flex;
    }
  }

  .section-description-title {
    color: $light-green;
    font-size: rem-calc(30);
    margin-bottom: $margin-md;
  }

  .section-description-subtitle {
    color: $white;
    font-size: rem-calc(22);
    margin-bottom: $margin-md;
  }

  .section-description-text {
    color: $white;
    font-size: rem-calc(18);
  }
}

.package-section-description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 6, 6, 0.6);
}

.package-section-triangle {
  position: absolute;
  left: 0;
  top: rem-calc(190);
  border: rem-calc(28) solid transparent;
  border-left: rem-calc(28) solid white;

}

.button-online-entry {
  .button-online-entry-container {
    text-align: center;
    padding: rem-calc(60) 0;
  }
}

.green-bg-block {
  background-color: $success;

  .green-bg-text-container {
    color: $white;
    font-size: rem-calc(24);
    font-family: 'LatoBold', sans-serif;
    text-align: center;
    max-width: rem-calc(700);
    margin: rem-calc(60) auto;
  }
}

.main-page__partners {
  padding: rem-calc(80);
  background: url("../images/Home/bg_city.jpg") no-repeat center;
  background-size: cover;

  .partners-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partners-title {
    font-size: rem-calc(32);
    text-transform: uppercase;
    margin-bottom: rem-calc(40);
  }

  .partner-numbers {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: rem-calc(1200);
    margin-bottom: rem-calc(70);

    .number-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: rem-calc(300);

      .number {
        font-size: rem-calc(64);
        color: $success;
      }
    }

    .number-line {
      border-bottom: solid 1px black;
      width: 10%;
      position: relative;
      top: rem-calc(45);
    }
  }

  .partner-numbers-text {
    text-transform: uppercase;
    font-size: rem-calc(16);
    text-align: center;
  }


  .partners-logo {
    display: flex;
    flex-wrap: wrap;

    .logo-item {
      height: rem-calc(80);
      margin: $margin-sm $margin-xxl;

      img {
        height: 100%;
      }
    }
  }
}



