@import "variables";


.page__partner-numbers {
  background-color: $white;
  background: url("../images/Partners/partners_bg.png") no-repeat bottom;
  background-size: cover;
  padding: rem-calc(40) 0 rem-calc(200);

  .partners-container {
    max-width: rem-calc(592);
    margin: auto;
  }

  .partner-numbers {
    display: flex;
    justify-content: space-around;
  }

  .number-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .number {
      font-size: rem-calc(80);
      color: $success;
    }

    .partner-numbers-text {
      font-size: rem-calc(20);
      text-transform: uppercase;
    }
  }

  .number-line {
    margin: {
      left: rem-calc(10);
      right: rem-calc(10);
    };
    border-bottom: solid 1px $light-gray;
    width: 100%;
    position: relative;
    top: rem-calc(-80);
  }
}

.orange-line {
  width: 64px;
  margin: auto;
  border-top: solid 3px $active-package-section;

  &.left {
    margin-left: 0;
    margin-right: auto;
  }
}

.page__partner-cards {
  position: relative;
  margin-top: rem-calc(-60);

  .page__partners-title {
    font-size: rem-calc(32);
    text-transform: uppercase;
    text-align: center;
  }

  .cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: auto;

    a {
      color: inherit;
      text-decoration: none;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background-color: $white;
      padding: rem-calc(30) rem-calc(25) rem-calc(66) rem-calc(25);
      margin: $margin-lg;
      width: rem-calc(450);
      box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.17);
      height: rem-calc(666);

      .card-inset-shadow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }

      button {
        z-index: 1;
        margin-top: auto;

      }

      &:hover {
        box-shadow: 0 0 9px 2px rgba(70, 196, 115, 0.71);

        button {
          background-color: $success;
          color: $white;
        }

        .card-inset-shadow {
          box-shadow: inset 0 0 0 2px $success;
        }
      }

      &:active {
        background-color: $active-button-bg;
        box-shadow: 0 0 9px 2px rgba(70, 196, 115, 0.71);

        .card-inset-shadow {
          box-shadow: inset 0 0 0 2px $success;
        }

        button {
          background-color: $success-light;
          color: $white;
        }
      }
    }

    .card-img {
      height: 142px;
      display: flex;
      align-items: center;
      z-index: 1;
    }

    .card-title {
      font-size: rem-calc(20);
      text-transform: uppercase;
      text-align: center;
      z-index: 1;
    }

    .card-text {
      text-align: center;
      z-index: 1;
    }

    .card-bold-text {
      text-align: center;
      font-weight: bold;
      z-index: 1;
    }
  }
}