@import "variables";

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: rem-calc(1300);
  }
}

@media (max-width: 991px) {

  .container {
    width: 100%;
  }
  .main-menu-btn {
    border: none;

    &:hover {
      background-color: $white;

      #Header, #btn_closeMainMenu {
        fill: $success;
      }
    }

    &:active {
      background-color: $white;

      #Header, #btn_closeMainMenu {
        fill: $success;
      }
    }

    &.close {
      background-color: $white;
      color: $success;

      &:hover {
        background-color: $white;
        color: $success;
      }

      &:active {
        color: $success;
        background-color: $white;
      }
    }
  }
  .choose-age {
    flex-wrap: wrap;
    padding-top: rem-calc(20);

    .first-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: rem-calc(20);

      .choose-age-text {
        max-width: 100%;
      }
    }
  }

  .main-page__partners {
    padding: 0;
  }
}
