@import "variables";

.how-to-work {
  background-color: $bg-color;
  padding: $padding-xxl $padding-lg;
}

.how-to-work-title {
  font-size: rem-calc(32);
  text-transform: uppercase;
  text-align: right;
  padding-top: $padding-md;
  padding-right: rem-calc(50);
}

.how-to-work-step-icons {
  position: relative;

  .step-item {
    display: inline-block;

    .step-item-icon {
      display: flex;
      width: rem-calc(66);
      height: rem-calc(66);
      margin-left: rem-calc(3);
      @include border-radius(50%);
      border: solid 4px rgba(0, 0, 0, 0.15);
      background-color: $white;
      margin-bottom: $margin-sm;
      cursor: pointer;
      transition: all .3s linear;

      &:hover {
        border-color: rgba(0, 0, 0, 0.3);
      }

      &.active {
        border-color: $success;
      }

      img {
        margin: auto;
      }
    }

    .step-item-text {
      font-size: rem-calc(14);
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
    }
  }

  .step-item-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #d8d8d8;
    @include border-radius(50%);
    position: relative;
    top: -55px;
    transition: all .3s linear;

    &.active {
      background-color: $success;
    }
  }

}

.steps-slider {
  color: $white;
  position: relative;
  height: rem-calc(480);

  .step-1-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(45, 6, 6, 0.55);
  }

  .step-2-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .step-3-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 6, 6, 0.4);
  }


  .slider-btn {
    width: rem-calc(40);
    height: rem-calc(40);
    border-left: solid 2px $white;
    border-bottom: solid 2px $white;
    position: absolute;
    left: 2%;
    top: rem-calc(220);
    z-index: 50;
    cursor: pointer;

    &.left {
      transform: rotate(45deg);
    }

    &.right {
      left: auto;
      right: 2%;
      transform: rotate(-135deg);
    }
  }

  .step {
    position: absolute;
    height: rem-calc(480);
    width: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 0;

    &.current {
      opacity: 1;
    }

    .left-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: rem-calc(50);
      padding-left: rem-calc(121);
    }


    .right-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .step-content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    z-index: 5;
    height: 100%;
    position: relative;

    >div {
      flex-basis: 50%;
    }

    .step-title {
      font-size: rem-calc(36);
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: rem-calc(30);
    }

    .step-text {
      font-size: rem-calc(20);
    }
  }

  #step-1 {
    background: url("../images/Home/photos/step_1.jpg") no-repeat center;
    background-size: cover;
  }

  #step-2 {
    background: url("../images/Home/photos/step_2.jpg") no-repeat center;
    background-size: cover;
  }

  #step-3 {
    background: url("../images/Home/photos/step_3.jpg") no-repeat center;
    background-size: cover;
  }

  .clock {
    position: relative;
    width: 202px;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clock-time {
      font-size: rem-calc(80);
      line-height: rem-calc(80);
    }

    .clock-text {
      font-size: rem-calc(28);
      line-height: rem-calc(28);
    }
  }

  .clock-line {
    position: absolute;
    height: 17px;
    border-left: solid 2px $white;

    &.top {
      top: 10px;
    }

    &.bottom {
      bottom: 10px;
    }

    &.left {
      height: 0;
      width: 17px;
      border-bottom: solid 2px $white;
      left: 10px
    }

    &.right {
      height: 0;
      width: 17px;
      border-bottom: solid 2px $white;
      right: 10px
    }

  }

  .right-block-second-line {
    display: flex;
    position: relative;
    left: -20px;

    .step-2-count {
      font-size: rem-calc(120);
      line-height: rem-calc(100);
      color: $active-package-section;
    }

    .right-block-title {
      font-size: rem-calc(32);
      text-transform: uppercase;
    }
  }

  .clock-svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    height: 100%;
  }
}

#clock-oval {
  transition: stroke-dashoffset 8s ease;

  &.go-time {
    stroke-dashoffset: 0
  }
}

.diagram-bg {
  width: rem-calc(150);
  height: rem-calc(148);
  @include border-radius(50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: rem-calc(5);
  transition: all 4s ease;

  &.animate {
    transform: scale(2);
  }
}

.diagram {
  position: relative;
  top: 1px;
  width: 100%;
  height: 100%;
  background: url("../images/Home/Diagram@2x.png") no-repeat center;
  background-size: cover;
}


