@import "mixins";

$bg-color: #f5f5f5;
$white: #ffffff;

/* FONT */
$default-font-size: 16;

/* BORDER */
$def-br: rem-calc(6); //border-radius
$default-border-color: #c1c1c1;

/* HEADER */
$header-height: rem-calc(88);

/* COLORS */
$success: #46c573;
$success-light: rgba(70, 196, 115, 0.50);
$light-green: #85ff8a;
$active-button-bg: #f5f5f5;
$gray: #c1c1c1;
$light-gray: #d8d8d8;
$active-package-section: #ec5d04;

/* PADDINGS */
$padding-xs: rem-calc(5);
$padding-sm: rem-calc(10);
$padding-md: rem-calc(15);
$padding-lg: rem-calc(20);
$padding-xlg: rem-calc(25);
$padding-xl: rem-calc(30);
$padding-xxl: rem-calc(35);

/* MARGINS */
$margin-xs: rem-calc(5);
$margin-sm: rem-calc(10);
$margin-md: rem-calc(15);
$margin-lg: rem-calc(20);
$margin-xlg: rem-calc(25);
$margin-xl: rem-calc(30);
$margin-xxl: rem-calc(35);

$spacer-x: 10px;
$spacer-y: 10px;

$spacers: (
        0: (
                x: 0,
                y: 0
        ),
        1: (
                x: $spacer-x,
                y: $spacer-y
        ),
        2: (
                x: ($spacer-x * 2),
                y: ($spacer-y * 2)
        ),
        3: (
                x: ($spacer-x * 3),
                y: ($spacer-y * 3)
        ),
        35: (
                x: ($spacer-x * 3.5),
                y: ($spacer-y * 3.5)
        ),
        4: (
                x: ($spacer-x * 4),
                y: ($spacer-y * 4)
        ),
        5: (
                x: ($spacer-x * 5),
                y: ($spacer-y * 5)
        ),
        6: (
                x: ($spacer-x * 6),
                y: ($spacer-y * 6)
        ),
        9: (
                x: ($spacer-x * 9),
                y: ($spacer-y * 9)
        ),
        12: (
                x: ($spacer-x * 12),
                y: ($spacer-y * 12)
        ),
);